/*  your css code here. If applicable */
.inp{
        border: 1px solid rgb(201, 120, 202);
    }
    #submit{
        margin: 0px 0px 0px 100px;
		
    }
button:hover {
        background-color: rebeccapurple;

    }